 
 body { 
	 height: 100%;
	 padding-bottom: 50px;
	 overflow-x: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background: linear-gradient(to bottom, #16a085, #f4d03f) center / cover no-repeat;
}
 h1 {
	 margin-bottom: 75px;
	 padding: 0 20vw;
	 font: 400 56px 'Roboto Slab', serif;
	 font-size: 56px;
	 text-align: center;
	 color: #fff;
}
 .form__contact {
	 max-width: 600px;
	 margin: 0 auto;
	 border-left: 30px solid white;
	 border-image: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
	 border-image-width: 0px 0px 0px 30px;
	 transform: translateY(100%);
	 animation: init 1s ease-in-out forwards;
}
 .form__contact fieldset {
	 position: relative;
	 margin: 0;
	 padding: 30px 30px 40px 80px;
	 border: none;
	 border-radius: 0 20px 20px 0;
	 font: 24px 'Shadows Into Light', cursive;
	 background: #fff linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 0) 0 20px / 100% 40px;
}
 .form__contact fieldset:after {
	 position: absolute;
	 top: 0;
	 left: 50px;
	 content: '';
	 height: 100%;
	 width: 1px;
	 border-left: double #e08183;
}
 .form__contact p {
	 margin: 0 0 40px 0;
	 line-height: 40px;
	 color: #333;
}
 .form__contact span {
	 position: relative;
	 line-height: 40px;
}
 .form__contact button {
	 margin-top: 40px;
	 float: right;
	 border: none;
	 font-family: 'Shadows Into Light', cursive;
	 color: #e08183;
	 background: transparent;
	 cursor: pointer;
	 transition: transform 0.25s ease;
}
 .form__contact button:hover {
	 transform: translateX(10px);
}
 .form__field {
	 display: inline;
	 color: #7db665;
	 outline: none;
}
 .form__field:empty {
	 display: inline-block;
	 color: #ddd;
}
 .form__field:empty:before, .form__field:empty:focus:before {
	 content: attr(data-placeholder);
}
 svg {
	 display: none;
}
 @keyframes init {
	 75% {
		 transform: translateY(-20px);
	}
	 100% {
		 transform: translateY(0);
	}
}
 @keyframes do-blur {
	 0% {
		 filter: url(#blur4);
	}
	 25% {
		 filter: url(#blur3);
	}
	 50% {
		 filter: url(#blur2);
	}
	 75% {
		 filter: url(#blur1);
	}
	 100% {
		 filter: url(#blur0);
	}
}
 .form-img{
    height: 50vh;
 }
 .main{
    display: flex;
    flex-direction: column; 
    align-items: center;
 }
 .img-wrapper{
    text-align: center;
 }

 @import url('https://fonts.googleapis.com/css?family=Sacramento');
body {
  background-color: #212121;
  font-family: 'Sacramento', cursive;
}
 
.container .title {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 0px 2px 1px orange, 0px 0px 6px orangered, 0px 5px 10px black;
}
.fireworks {
  list-style-type: none;
  padding: 0;
}
.fireworks li {
  display: inline-block;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
  position: relative;
  background-color: #8D6E63;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.fireworks li::before {
  content: "";
  position: absolute;
  height: 100%; 
  width: 100%;
  border-radius: 500px;
  top: -40%;
  left: -30%;
}
.fireworks li::after {
  content: "";
  position: absolute;
  height: 100%; 
  width: 100%;
  border-radius: 500px;
  top: -40%;
  right: -30%;
}
.fireworks li span {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(45deg);
  animation: fire 0.3s ease infinite;
}
.fireworks li:nth-child(1) span {
  animation-delay: 0.5s;
}
.fireworks li:nth-child(2) span {
  animation-delay: 1s;
}
.fireworks li:nth-child(3) span {
  animation-delay: 1.5s;
}
.fireworks li:nth-child(4) span {
  animation-delay: 2s;
}
.fireworks li:nth-child(5) span {
  animation-delay: 2.5s;
}
.fireworks li:nth-child(6) span {
  animation-delay: 3s;
}
@keyframes fire {
  0%, 100% {
    transform: rotate(55deg);
    width: 20px;
    background: linear-gradient(90deg, orange, orangered);
  }
  50% {
    transform: rotate(35deg);
    width: 18px;
    background: linear-gradient(90deg, orangered, orange);
  }
}
#nameShow{
    text-transform: capitalize;
}
 

.lamp {
    position: relative;
    top: 170px;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: rgb(214, 23, 92);
    border-radius: 0px 10px 100% 0px;
    border-bottom: 3px solid rgb(144, 17, 58);
    box-shadow: inset 0 -50px 50px -20px rgb(144, 17, 58);
  }
  
  .lamp:before {
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    margin-left: -100px;
    background-color: rgb(214, 23, 92);
    border-radius: 10px 0px 0px 100%;
    box-shadow: inset 0 -50px 50px -20px rgb(144, 17, 58);
    border-bottom: 3px solid rgb(144, 17, 58);
  }
   
  .flame {
    position: absolute;
    top: -65px;
    left: -30px;
    width: 60px;
    height: 60px;
    background: OrangeRed;
    border-radius: 0 110px 20px 110px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
  
  .flame:after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: OrangeRed;
    border-radius: 0 110px 20px 110px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    animation: flame_glare 1.5s linear infinite;
    -webkit-animation: flame_glare 1.5s linear infinite;
    -moz-animation: flame_glare 1.5s linear infinite;
  }
  
  .top {
    position: absolute;
    top: -40px;
    left: -100px;
    height: 90px;
    width: 180px;
    background-color: brown;
    border-radius: 100%;
    border-left: 10px solid rgb(144, 17, 58);
    border-right: 10px solid rgb(144, 17, 58);
    transform: rotateX(-60deg);
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    background: radial-gradient(OrangeRed, rgb(214, 23, 92) 40%, rgb(144, 17, 58));
    background: -webkit-radial-gradient(OrangeRed, rgb(214, 23, 92) 40%, rgb(144, 17, 58));
    background: -moz-radial-gradient(OrangeRed, rgb(214, 23, 92) 40%, rgb(144, 17, 58));
  }
  
  @keyframes flame_glare {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  @webkit-keyframes flame_glare {
    0% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.3);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  
  @moz-keyframes flame_glare {
    0% {
      -moz-transform: scale(0);
      opacity: 0;
    }
    50% {
      -moz-transform: scale(1.3);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1.5);
      opacity: 0;
    }
  }
  
   
.container {
    margin: 0 auto;
    max-width: 650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .top-border,
  .bottom-border {
    height: 100px;
    width: 100%;
    position: relative;
  }
  
  .top-border::before,
  .top-border::after,
  .bottom-border::before,
  .bottom-border::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(https://drive.google.com/uc?id=1l69ZSpSW5Ddb3g4Ba0uVapDytB4mPwhX);
    background-size: 70%;
    background-position: inherit;
  }
  
  .top-border::before,
  .top-border::after {
    top: 0;
  }
  
  .top-border::after {
    right: 0;
    transform: rotate(90deg);
  }
  
  .bottom-border::before,
  .bottom-border::after {
    bottom: 0;
  }
  
  .bottom-border::before {
    transform: rotate(270deg);
  }
  
  .bottom-border::after {
    right: 0;
    transform: rotate(180deg);
  }
  
  .main-wrapper {
    margin: 0 16px;
  }
  
  h1,h2 {
    text-align: center;
    color: #484746;
    font-family: "Lobster", cursive;
    margin:0px;
    margin-bottom: 14px;
    padding: 0px;
  }
  
  .main-wrapper img {
    margin: 0 auto;
    width: 20vw;
    display: block;
  }
  
  .msg-first {
    text-align: center;
    color: #2a3768;
    margin: 24px auto 15px;
  }
  
  .msg-second {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  footer {
    text-align: center;
  }
  
  footer a {
    color: blue;
    text-decoration: none;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .diya {
    position: relative;
    width: 160px;
    height: 80px;
    background-color: #b11c1c;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }
  
  .diya::after {
    content: "";
    position: absolute;
    top: calc(-50% - 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 5px #eff000, 0 0 0 10px rgba(255, 255, 255, 0.2);
    filter: blur(5px);
    animation: animate 2s linear infinite;
  }
  
  .diya:before {
    content: "";
    position: absolute;
    top: -20px;
    width: 100%;
    height: 40px;
    background-color: #fdff60;
    border-radius: 50%;
    border: 10px solid #9e0303;
    box-sizing: border-box;
  }
  
  .diya-group {
    display: flex;
    justify-content: space-between;
  }
  